QPushButton{
    background-color: rgb(222,222,222);
    color: rgb(11,11,11);
    text-align: center;

    width: 70px;
    height: 25px;

    border: 2px solid rgb(11,11,11);
    border-radius: 5px;

    margin-left: 5%;
    margin-right: 5%;
}

QPushButton:hover{
    background-color: rgb(11,11,11);
    color: rgb(222,222,222);
    border: 2px solid rgb(222,222,222);
}
